.btn-route-crear {
    margin: 5px 3px;
    font-size: calc(var(--text-default) - 3px);
}

/**estilos del formulario de registro**/
.box-form > img {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 15px auto;
}
.box-form > form {
    width: 100%;
    display: block;
    max-width: 400px;
}
.label-description {
    font-size: calc(var(--text-default) - 2px);
}
@media screen and (min-width: 900px) {
    .box-form > img {
        margin: 15px;
    }
    .box-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
#rol-check input[type="radio"],
#estado-check input[type="radio"] {
    display: none;
}
/*estilos de los radio - ESTADO CUENTA*/
#estado-check label {
    display: block;
    padding: 2px 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 250ms ease-in;
    margin: 5px;
    font-size: 15px;
    /* border: 2px solid transparent; */
}
#estado-check input:checked ~ label {
    border-radius: 3px 15px 3px 15px;
    border: 2px solid rgba(0, 146, 61, 0.781);
    background-color: rgba(0, 146, 24, 0.657);
    color: #fff;
}
.uncheck-all {
    cursor: pointer;
}
/*estilos de los radio - ROLES*/

#rol-check label {
    display: block;
    padding: 2px 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 250ms ease-in;
    margin: 5px;
    font-size: 15px;
}

#rol-check input:checked ~ label {
    border-radius: 3px 15px 3px 15px;
    border: 2px solid rgba(22, 0, 146, 0.781);
    background-color: rgba(22, 0, 146, 0.657);
    color: #fff;
}

.check-default {
    border-radius: 3px;
    border: 2px solid rgb(131, 131, 131);
}

.check-out {
    border-radius: 3px 15px 3px 15px;
    border: 2px solid rgba(22, 0, 146, 0.781);
    background-color: rgba(22, 0, 146, 0.657);
    color: #fff;
}

/****Estilos de la vista user.show****/
.content-info > img {
    display: block;
    width: 100%;
    max-width: 150px;
    box-shadow: 0px 2px 10px #ccc;
    border-radius: 50%;
    margin: 50px 0px;
}
.content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .content-info {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .content-info > img {
        max-width: 200px;
        margin: 0px 25px;
    }
}
.info-user {
    margin-bottom: 50px;
    width: 100%;
    max-width: 500px;
}
.info-user > div {
    margin: 10px 0;
}
.info-user > div h6,
.info-user > div p {
    font-size: calc(var(--text-default) - 2px);
}
@media screen and (min-width: 900px) {
    .info-user > div h6,
    .info-user > div p {
        font-size: var(--text-default);
    }
}
